.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.category {
	height:200px;
	width:auto;
}

.head-tag {	
	color: rgba(60, 118, 61, 1);
	font-size:18px;	
}

.row.content {
	height: 558px;
}


.sidenav {
	padding-top: 20px;
	background-color: #f1f1f1;
	height: 100%;
}

footer {
	background-color: #555;
	color: white;
	padding: 5px;
}

@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {height: auto;}
}